<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotplatform.mapper.DeviceManageMapper">


    <select id="selectByDeviceId" resultType="com.iotplatform.model.Device">
    select * from device where device_id=#{deviceId}
    </select>

    <insert id="insertRegDirectDeviceOutDTO">
        INSERT INTO device(device_id,psk,verify_code,create_time)
        VALUES (#{deviceId},#{psk},#{verifyCode},sysdate())
    </insert>

    <update id="updateDevice">
        update device
        <set>
            <if test="deviceId != null">
                device_id = #{deviceId,jdbcType=VARCHAR},
            </if>

            <if test="psk != null">
                psk = #{psk,jdbcType=VARCHAR},
            </if>
            <if test="verifyCode != null">
                verify_code = #{verifyCode,jdbcType=VARCHAR},
            </if>

            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteDeviceById">
        delete from device where device_id=#{deviceId}
    </delete>
</mapper>